html,
body {
	height: 100%;
}

body {
	font-family: sans-serif;
	margin: 0;
	text-align: center;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.wrapper {
	flex: 1 0 auto;
}

select {
	margin-top: 2rem;
}

footer {
	flex-shrink: 0;
	color: #333;
	font-size: 13px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	padding: 2em;
	border-top: 1px solid #333;
}